html{
    height: 100%;
}
body{
    overflow-y: auto;
    position: relative;
    height: 100%;
}
.m-form{
    height: 30px;
    line-height: 30px;
    background: #F8FAFE;
    padding: 10px 10px 10px 0px;
    font-size: 18px;
}
.task-title{

}
.date,.author{
    float: right;
}
.task-show{
    line-height: 22px;
    padding-bottom: 10px;
}
.content{
    white-space: pre;
}
.comment{
    margin-left: 15px;
    min-height: 50px;
    padding-top: 0px;
    line-height: 22px;
    float: left;
    min-width: 95%;
}
.comment-head{
    width: 40px;
    height: 40px;
    margin-top: 6px;
    float: left;
    cursor: pointer;
}
.add-comment {
    background: url(../images/commentbox.gif) no-repeat center;
    padding: 5px;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    -webkit-appearance: none;
    margin-top:5px;
    min-height:150px;
    height:auto;
    font-size:14px;
    line-height: 20px;
    margin-bottom: 10px;
}
.emoticons{
    padding-top: 10px;
}
.emoticons img{
    cursor: pointer;
    margin-right:5px;
}
.comment-submit{
    float: right;
}
.comment-cancle{
    float: right;
}
.comment-clear{
    clear:both;
    float: left;    
    padding: 5px;
    /*background: #FFE;*/
    background:#fff;
    border: none;         
    word-wrap: break-word;
    position: relative;
 
}
.comment-good{
    margin-left:10px;
}
.comment-bad{
    margin-left:10px;
} 